<!-- =======================================================HEADER======================================================= -->
<nav class="navbar navbar-expand-lg navbar-light  navabar-menu ">
    <div class="container  Head">
        <div class="">
            <img src="../../assets/gurukul logo.png" alt="" class="glogo">
        </div>
        <div class="">
            <a class="navbar-brand " href="#">
                <input class="form-control Search-task" (keyup)="typeSearchData()" [(ngModel)]="searchValue"
                    type="search" placeholder="Search" aria-label="Search">
            </a>
        </div>
    </div>
</nav>

<!-- =======================================================INPUT PART======================================================= -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center taskAddBtnHeader">
                <a class="form-control taskUpperHeader" data-bs-toggle="collapse" href="#collapseExample"
                    aria-controls="collapseExample" style="text-decoration: none; " (click)="reseteditData()">
                    Task A Note ...
                </a>
            </div>
            <section class="d-flex justify-content-center">
                <div class="collapse taskBody " id="collapseExample">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">
                                <input type="text" class="form-control mb-1 " id="floatingInput" placeholder="Title"
                                    [(ngModel)]="todoDetails.name">
                            </li>
                            <li class="list-group-item">
                                <ul class="list-group list-group-flush overflow-auto"
                                    *ngFor="let taskItem of todoDetails.tasks; let i = index;">
                                    <li class="list-group-item d-flex">
                                        <i class="bi bi-x fs-3" (click)="removeBlankitem(i)"></i>
                                        <input type="checkbox" [(ngModel)]="taskItem.isCompleted">

                                        <input type="text" class=" ps-2 itemAddBtn" placeholder="List item"
                                            [(ngModel)]="taskItem.name" (keyup.enter)="addBlankItem()">
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item" (click)="updateAddBtn === false ? addTodo() : editTodo()" >
                                <i *ngIf="!updateAddBtn" class="bi bi-arrow-right-square-fill fs-2"></i>
                                <i *ngIf="updateAddBtn" class="bi bi-pencil-square fs-2" ></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- =======================================================CARD======================================================= -->
<section class="container overflow-auto  mt-5" style="height: 480px;">
    <div class="row">
        <ng-container *ngFor="let todo of allTodos">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
                <div class="card border-light mb-3" style="width: 18rem;">
                    <div class="card-header d-flex  justify-content-between">
                        <div class="Task-Indax fs-4">{{todo.name}}</div>
                        <div class="leftCard-Icon">
                            <i class="bi bi-pencil-square Edit" data-bs-toggle="collapse" href="#collapseExample"
                                (click)="fillData(todo)"></i>
                            <i class="bi bi-trash-fill Delete" (click)="deleteTodo(todo)"></i>
                        </div>
                    </div>
                    <!-- Card New Item Add Section Start-->
                    <div>
                        <i class="bi bi-plus-lg m-1" (click)="singleTaskAddToggle(todo)"></i>
                        <span *ngIf="todo.isInput">
                            <input type="checkbox" [(ngModel)]="taskDetails.isCompleted">
                            <input type="text" class=" ps-2 itemAddBtn" [(ngModel)]="taskDetails.name"
                                placeholder=" New List item" *ngIf="taskEditBtnToggle" (keyup.enter)="addTask(todo.id)">
                            <input type="text" class=" ps-2 itemAddBtn" [(ngModel)]="taskDetails.name"
                                placeholder=" New List item" *ngIf="!taskEditBtnToggle" (keyup.enter)="singalEditTask(todo.id)">
                        </span>
                    </div>
                    <!--Card New Item Add Section End-->
                    <div class="p-4 overflow-auto" style="height: 100px;">
                        <ng-container *ngFor="let task of todo.tasks">
                            <div class="form-check d-flex justify-content-between">

                                
                                <input class="form-check-input" disabled [checked]="task.isCompleted"
                                    type="checkbox">

                                <span class="form-check Card-Text fs-5">
                                    <del *ngIf="task.isCompleted">{{task.name}}</del>
                                    <span *ngIf="!task.isCompleted">{{task.name}}</span>
                                </span>
    
                                <i class="bi bi-pencil me-2 " (click)="fillSingleTask(todo,task)"></i> 

                                <i class="bi bi-trash-fill cardDelete me-1 "
                                    (click)="deleteTask(todo.id,task)"></i>

                            </div>
                        </ng-container>
                    </div>
                    <div class="footer mt-5">{{todo.addedon | date}}</div>
                </div>
            </div>
        </ng-container>
    </div>
</section>