<nav class="navbar navbar-expand-lg navbar-light  navabar-menu ">
    <div class="container">
        <div class="">
            <img src="../../assets/gurukul logo.png" alt="" class="glogo">
        </div>
        <div class="mx-auto ">
            <a class="navbar-brand " href="#">
                <input class="form-control test" type="search" placeholder="Search" aria-label="Search">
            </a>
        </div>
        <div class="ADD-TASK">
            <i class="bi bi-plus-square-fill"></i>
        </div>
    </div>
</nav>

<section class="container mt-5">
    <div class="row">

        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header d-flex  justify-content-between">
                    <div class="Task-Indax">TASK-1</div>
                    <div class="leftCard-Icon">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash-fill"></i>
                    </div>
                </div>
                <div class="p-4 overflow-auto" style="height: 100px;">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label Text-control" for="flexCheckDefault">
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-5">Jan-2-2023</div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header">TASK-1</div>
                <div class="p-4">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-3">Jan-2-2023</div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header">TASK-1</div>
                <div class="p-4">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-3">Jan-2-2023</div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header">TASK-1</div>
                <div class="p-4">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-3">Jan-2-2023</div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header">TASK-1</div>
                <div class="p-4">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-3">Jan-2-2023</div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header">TASK-1</div>
                <div class="p-4">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-3">Jan-2-2023</div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-md-6 col-12  d-flex justify-content-center ">
            <div class="card border-light mb-3 bg-light" style="width: 18rem;">
                <div class="card-header">TASK-1</div>
                <div class="p-4">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            aaaaaa
                        </label>
                    </div>
                </div>
                <div class="footer mt-3">Jan-2-2023</div>
            </div>
        </div>


    </div>
</section>