@import 'ngx-toastr/toastr';


.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 2vw !important;
    max-width: 277px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}


::ng-deep .mat-mdc-form-field-subscript-wrapper {
    box-sizing: border-box;
    width: 85%;
    position: absolute !important;
}

//================== 1400
@media screen and (max-width: 1400px) {

    .test {
        margin-top: 38px !important;
        width: 40vw !important;
    }

}

//================== 1200
@media screen and (max-width: 1200px) {

    .test {
        margin-top: 38px !important;
        width: 40vw !important;
    }
}

//================== 760
@media screen and (max-width: 760px) {

    .test {
        margin-top: 38px !important;
        width: 40vw !important;
    }

    .taskUpperHeader {
        width: 100% !important;
    }

    .taskBody {
        width: 90vw !important;
    }

}

//================== 520
@media screen and (max-width: 520px) {

    .test {
        margin-top: 38px !important;
        width: 50vw !important;
    }

    .taskUpperHeader {
        width: 100vw !important;
    }

    .taskBody {
        width: 90vw !important;
    }


}

//================== 425
@media screen and (max-width: 425px) {
    .test {
        margin-top: 38px !important;
        width: 100% !important;
    }

    .taskUpperHeader {
        width: 100vw !important;
    }

    .taskBody {
        width: 90vw !important;
    }

    .input-search {
        width: 20px;
    }
    .taskSave{
        width: -webkit-fill-available  !important;
      }
}

//================== 479
@media screen and (max-width: 479px) {
    .test {
        margin-top: 38px !important;
        width: 40vw !important;
        height: 30px !important;
    }

    .ADD-TASK i {
        font-size: 30px;
    }

    .taskUpperHeader {
        width: 100vw !important;
    }

    .taskBody {
        width: 90vw !important;
    }

    .input-search {
        width: 20px;
    }

    .taskSave{
        width: -webkit-fill-available !important;
      }
}