@import 'ngx-toastr/toastr';

::-webkit-scrollbar {
    width: 0%;
}


//==================INPUT PART
.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ADD-TASK {
    width: 40%;
}

.taskUpperHeader {
    width: 35%;
    border: none;
    outline: none;
    color: rgb(77, 71, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


//==================CARD
.card {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background-color: #fff;
}

.card-header {
    color: black;
    background-color: rgb(162 177 225 / 30%);
    margin-bottom: 0;
    width: 100.2%;
    padding: 0.2rem 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.Card-Text {
    width: 100%;
    font-size: 18px;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Task-Indax {
    font-family: Arial Nova;
    font-weight: 300;
    padding: 10px;
    color: black;
}

.Plus i {
    color: black;
    font-size: 20px;
}

.taskBody {
    width: 35%;
}

.itemAddBtn {
    border: none;
    outline: none;
}

.Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.Edit {
    color: green;
    font-size: 22px;
    padding: 5px;
}

.Edit:hover {
    color: rgb(164, 206, 164);
}

.Delete {
    color: red;
    font-size: 22px;
    padding: 5px;
}

.Delete:hover {
    color: rgb(245, 156, 156);
}

.example-card {
    max-width: 400px;
}

.Date {
    font-family: MoolBoran;
    padding-left: 10px;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 2vw !important;
    max-width: 277px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

/*---------- for Loader css -----------*/
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 74, 74, .8);
    z-index: 99999;
  }
  
  .spinner {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 99999;
  }


//============ search Box Css
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

//================== 1400
@media screen and (max-width: 1400px) {

    .test {
        margin-top: 38px !important;
        width: 40vw !important;
    }
}




//================== 1200
@media screen and (max-width: 1200px) {

    .test {
        margin-top: 38px !important;
        width: 40vw !important;
    }
}



//================== 760
@media screen and (max-width: 760px) {

    .test {
        margin-top: 38px !important;
        width: 40vw !important;
    }

    .taskUpperHeader {
        width: 100% !important;
    }

    .taskBody {
        width: 90vw !important;
    }

}





//================== 520
@media screen and (max-width: 520px) {

    .test {
        margin-top: 38px !important;
        width: 50vw !important;
    }

    .taskUpperHeader {
        width: 100vw !important;
    }

    .taskBody {
        width: 90vw !important;
    }

}



//================== 425
@media screen and (max-width: 425px) {
    .test {
        margin-top: 38px !important;
        width: 100% !important;
    }

    .taskUpperHeader {
        width: 100vw !important;
    }

    .taskBody {
        width: 90vw !important;
    }

    .input-search {
        width: 20px;
    }

}

//================== 479
@media screen and (max-width: 479px) {
    .test {
        margin-top: 38px !important;
        width: 40vw !important;
        height: 30px !important;
    }

    .ADD-TASK i {
        font-size: 30px;
    }

    .taskUpperHeader {
        width: 100vw !important;
    }

    .taskBody {
        width: 90vw !important;
    }

    .input-search {
        width: 20px;
    }
}

